{
	"api": {
		"app_id": "api",
		"google_application_credentials": "credentials.json",
		"braintree": {
			"publicKey": "",
			"privateKey": "",
			"merchantId": "",
			"isProd": false
		},
		"100ms": {
			"templateId": "",
			"region": "eu",
			"accessKey": "",
			"appSecret": ""
		},
		"emails": {
			"no_reply": {
				"private_key": "",
				"client_id": ""
			}
		}
	},
	"general": {
		"app_id": "general",
		"environment": "local",
		"super_admin": "test@email.com",
		"access_token_key": "access-token",
		"refresh_token_key": "refresh-token",
		"mongodb_uri": "mongodb://mongodb/tutorstack-local?replicaSet=rs0",
		"redis_uri": "redis://redis:6379",
		"rabbitmq_uri": "amqp://guest:guest@rabbitmq/"
	},
	"root": {
		"base_domain": "localhost",
		"use_ssl": 0,
		"port": 8080
	}
}