doctype html
html(lang="en")
    head
        title Tutorstack OTP
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
    body(style="font-family: Helvetica;margin:0;padding:1rem;width:100vw;min-height:100vh;box-sizing: border-box;")
        div(style="margin: 2rem; padding: 2rem; background: #1E2230; color: #FFFFFF")
            p Use this #{token} as your OTP
            p Kindly ignore if you did not initiate the request